#rollResult {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: red;
}

#playerTwoResult, #playerOneResult {
  color: #ff751a;
  font-weight: bold;
  font-size: 30px;
}

#player1div, #player2div {
  text-align: center;
}

#p1color {
  color: white;
}
#p2color {
  color: white;
  margin-top: 20px;
}


body {
  background-color: #7FDBFF;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}
h2{
  text-align: center;
  color: white;
}
.descrp {
  color: white;
  text-align: center;
  font-size: 30px;
}
